body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color:rgb(34, 110, 110);
}
 p{
     justify-content: stretch;
 }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#dbd1{
    height: 500px;
    width: 800px;
}

ul{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: cadetblue;
}

li a{
    display: block;
    width: 168px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(117, 6, 30) ;
}